@use "../util" as *;


h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

a, //Links
a:visited, //Links the user has clicked
a:active { //Links currently being clicked (mouse down)
  text-decoration: none; //Removes underline
}

h1{
  font-size: rem(24);
  margin-bottom: rem(3);
  @include breakpoint(large){
    font-size: rem(28);
  }
}

h2{
  font-size: rem(24);
  font-weight: 700;
  margin-bottom: rem(24);
}
